[Unit]
Description=My Hello Service
[Service]
Type=simple
ExecStart=/home/udhay/Documents/log
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target
